body {
	font-family: "Roboto", sans-serif;
}
.title {
	font-weight: 400;
	font-size: 48px;
	line-height: 100%;
	letter-spacing: -0.02em;
	color: #012b34;
}
.accordion {
	cursor: pointer;
	padding: 40px;
	width: 100%;
	border: 1px solid #e6e6e6;
	border-width: 1px 0px 1px 0px;
	text-align: left;
	outline: none;
	font-size: 27px;
	transition: 0.4s;
}

.active,
.accordion:hover {
	color: #02818a;
	background-color: rgb(225, 225, 225);
}

.accordion:after {
	content: "\002B";
	font-weight: 300;
	float: right;
	font-size: 30px;
	margin-left: 5px;
}

.active:after {
	color: #02818a;
	content: "\00d7";
}

.panel {
	padding: 0 18px;
	font-size:15px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}
